[submodule "backend"]
	path = backend
	url = https://github.com/Juara-1/jagawarung-backend.git
	branch = main
[submodule "mobile"]
	path = mobile
	url = https://github.com/Juara-1/jagawarung.git
	branch = master
